HOST=127.0.0.1
PORT=5000
AUTH_HTTPS_ONLY=false
LNBITS_ADMIN_UI=true
LNBITS_BACKEND_WALLET_CLASS=FakeWallet
LNBITS_ALLOWED_FUNDING_SOURCES=["FakeWallet"]
LNBITS_DATA_FOLDER=./data
LNBITS_EXTENSIONS_DEFAULT_INSTALL=[]
LNBITS_SITE_TITLE="Micropayments · pagos de prueba"
LNBITS_SITE_TAGLINE="No envíes bitcoin. Entorno local simulado."
BUNDLE_ASSETS=true
ENABLE_LOG_TO_FILE=true
